<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :directors %>
<% end %>

<div id="videos-list">
  <% @director.projects.each do |p| %>
    <h4 class="project" data-id="<%= p.id %>"><%= p.title %></h4>
  <% end %>
</div>

<div id="videos-container">
</div>
