<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :welcome %>
<% end %>

<div id="welcome">
  <div class="welcome-content clearfix">
    <div class="logo">
      <img src="<%= asset_path 'welcome/dummy_logo.jpg' %>">
    </div>

    <div id="navbar" class="clearfix">
      <ul class="nav-item memoir">
        <li><h2 class="home">the special ones</h2></li>
      </ul>
      <ul class="nav-item contact">
        <li><h2 class="home"><a href="/hey">hey, dummy</a></h2></li>
      </ul>
      <ul class="nav-item directors">
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
        <li><h2 class="home">harold einstein</h2></li>
      </ul>
    </div>
  </div>

</div>

