<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :contact %>
<% end %>

<div id="contact">
  <div class="contact_content">
    <p>
      Dummy was started on October 1, 2013 by Director Harold Einstein and his
      longtime Executive Producer, Eric Liney.
    </p>
    <div id="office">
      <h2>office</h2>
    </div>
    <div id="reps">
      <h2>reps</h2>
    </div>
  </div>
</div>
