<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :contact %>
<% end %>

<div id="contact">
  <div class="contact_content">
    <p>
      Dummy was started on October 1, 2013 by Director Harold Einstein and his
      longtime Executive Producer, Eric Liney.
    </p>
    <div id="office">
      <h2>office</h2>
        <address>
          1134 abbot kinney<br>
          venice, ca 94354<br>
          phone 310.444.1234
        </address>

        <br>
        <br>
        <br>
        <p>executive producer</p>
        <p class="bold">eric liney</p>
    </div>
    <div id="reps">
      <h2>reps</h2>
      <div class="rep">
        <p class="location">west coast</p>
        <p class="bold">this rep</p>
        <p class="bold">that person</p>
      </div>
      <div class="rep">
        <p class="location">toranto</p>
        <p class="bold">this rep</p>
      </div>
      <div class="rep">
        <p class="location">east coast</p>
        <p class="bold">different lady</p>
        <p class="bold">other guy</p>
      </div>
      <div class="rep">
        <p class="location">south america</p>
        <p class="bold">another rep</p>
      </div>
      <div class="rep">
        <p class="location">midwest</p>
        <p class="bold">another person</p>
      </div>
      <div class="rep">
        <p class="location">australia</p>
        <p class="bold">nice lady</p>
      </div>
      <div class="rep">
        <p class="location">uk</p>
        <p class="bold">british lady</p>
      </div>
      <div class="rep">
        <p class="location">germany</p>
        <p class="bold">this lady</p>
      </div>
    </div>
  </div>
</div>
