@import "admin/directors_admin.scss";
@import "admin/contact_admin.scss";
@import "admin/memior_admin.scss";

#admin-bar {
  height: 6.0em;
  width: 100%;
  border-bottom: 0.1em solid rgba(255, 243, 42, 0.55);;
  margin-bottom: 2.0em;
  line-height: 5.0em;
  background: rgba(255, 243, 42, 0.5);

  #save-button, #add-action {
    display: block;
    width: 11.0em;
    padding: 15px 0px;
    text-align: center;
    float: right;
    margin-left: 8px;
    margin-top: 8px;
  }
  #save-button {
    margin-right: 14px;
  }
}
