.contact-content {
  padding-top: 8.0em;
}

.contact-headline {
  text-align: center;
}

@media screen and (max-width:1070px) {
  .contact-headline {
    padding-left: 88px;
    text-align: left;
  }
}

.contact-body {
  padding: 0em 9.0em;
  margin: 0px auto;
}

#office, #reps {
  margin-top: 10.0em;
}

#office {
  float: left;

  .office-address {
    margin-bottom: 26px;
  }
}

#reps {
  float: right;
  display: inline-block;
  max-width: 35.0em;

  .rep {
    float: left;
    min-height: 9.0em;
    margin-left: 6.0em;
    width: 13.0em;

    &.first {
      margin-left: 0em;
    }
  }
}


@media screen and (max-width: 320px) {
  .contact-content {
    padding-top: 4.0em;
  }

  .contact-headline {
    text-align: left;
    padding-left: 0px;
  }

  .rep {
    float: none;
    margin-left: 0px;
  }

  .contact-body {
    padding: 0px;
  }

  #office, #reps {
    margin-left: 0px;
    margin-top: 5.0em;
    float: none;
    display: block;
  }
}

