.contact-content {
  padding-top: 8.0em;
}

.contact-headline {
  text-align: center;
}

.contact-body {
  padding: 0em 9.0em;
  margin: 0px auto;
}

#office, #reps {
  margin-top: 10.0em;
}

#office {
  float: left;
}

#reps {
  float: right;
  display: inline-block;
}

.rep {
  float: left;
  min-height: 9.0em;
  margin-left: 6.0em;
  text-transform: lowercase;

  &.first {
    margin-left: 0px;
  }
}

@media screen and (max-width: 780px) {
  #office, #reps {
    float: none;
  }
}

@media screen and (max-width: 530px) {
  .contact-content {
    padding-top: 4.0em;
  }

  #office, #reps {
    margin-left: 5em;
    margin-top: 5em;
  }

  #reps {
    width: auto;
  }

  .rep {
    width: auto;
    float: none;
  }
}

@media screen and (max-width: 320px) {
  .contact-headline {
    text-align: left;
  }

  .rep {
    margin-left: 0px;
  }

  .contact-body {
    padding: 0px;
  }

  #office, #reps {
    margin-left: 0px;
    float: none;
    display: block;
  }
}

