.contact-content {
  padding-top: 8.0em;
}

#office, #reps {
  margin-top: 10.0em;
}

#office {
  float: left;
  margin-left: 10.0em;
}

#reps {
  float: right;
  width: 400px;
}

.rep {
  float: left;
  width: 200px;
  height: 90px;
  text-transform: lowercase;
}

@media screen and (max-width: 780px) {
  #office, #reps {
    float: none;
  }

  #reps {
    margin-left: 10.0em;
  }
}

@media screen and (max-width: 530px) {
  .contact-content {
    padding-top: 4.0em;
  }

  #office, #reps {
    margin-left: 5em;
    margin-top: 5em;
  }

  #reps {
    width: auto;
  }

  .rep {
    width: auto;
    float: none;
  }
}

