#special-ones {
  padding: 0em 0em 5.0em 0em ;
}

#description {
  padding-top: 8.0em;
  padding-bottom: 4.0em;
  max-width: 63.2em;
}

#post-container-container {
  width: 100%;
  overflow: hidden;
}

#post-container {
  width: 100%;
  height: 36.0em;

  .post {
    position: relative;
    float: left;
    height: 100%;
    width: 0px;

    .image {
      float: left;
      max-width: 63.2em;
      width: 63.2em;
      height: 36.0em;

      img {
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }

    .captions {
      max-width: 42.0em;
      bottom: 0;
      right: 0;
      position: absolute;
      padding: 0em 2.0em;
      box-sizing: border-box;
    }

    &.new {
      .image {
        background: #ccc;
      }
      .captions {
        background: #ccc;
        height: 200px;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 1063px) {
  #special-ones{
    padding: 0px 3.0em;
  }
}

@media screen and (max-device-width: 768px) {
  .captions {
    float: right;
    position: relative;
  }
  .post{
    width: 41.2%;
    margin-right: 5em;
  }
}

@media screen and (max-width: 718px) {
  #post-container {
    width: 100% !important;
  }
  .post {
    float: none;
  }
  .image {
    float: none;
  }
  .captions {
    position: relative;
    float: right;
  }
  p.caption {
    font-size: 1.7em;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
