#special-ones { padding: 0em 0em 5.0em 0em; }

#description {
  padding-top: 2.0em;
  padding-bottom: 4.0em;
  max-width: 63.2em;
  white-space: pre-wrap;

  h2 { margin-bottom: 20px; }
}

#post-container-container-container-container {
  height: 37.7em;
  overflow: hidden;
}

#post-container-container-container { overflow: scroll; }
#post-container-container { position: relative; }

#post-container {
  width: 100%;
  padding-bottom: 30px;

  .post {
    position: relative;
    float: left;
    height: 100%;
    width: 0px;
    max-width: 103.8em;

    .image {
      width: 63.2em;

      img { width: 100%; }
    }

    .captions {
      max-width: 42.0em;
      bottom: 0;
      right: 0;
      position: absolute;
      padding: 0em 2.0em;
      box-sizing: border-box;
    }

    &.new {
      .image {
        background: rgba(255, 255, 255, 0.3);
      }
      .captions {
        height: 200px;
        width: 100%;

        &.empty {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}

@media screen and (max-width: 1153px) {
  .captions {
    width: 38%;
  }
}

@media screen and (max-width: 1063px) {
  #special-ones{
    padding: 0px 3.0em;
  }

  #post-container {
    .post {
      .image {
        width: 61%;
      }

      .captions {
        width: 38%;
      }
    }
  }

}

@media screen and (max-device-width: 768px) {
  .captions {
    float: right;
    position: relative;
  }

  .post{
    width: 41.2%;
    margin-right: 5em;
    margin-bottom: 8.0em;
  }

  #post-container-container-container-container {
    height: auto;
    overflow: auto;
  }

  #post-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 718px) {
  #description {
    padding-top: 4.0em;
    white-space: pre-wrap;
  }

  #special-ones { padding: 0em; }
  #post-container-container-container-container { height: auto; }

  #post-container {
    width: 100% !important;
    .post {
      float: none;
      margin-bottom: 5.0em;
      width: 100% !important;
      .image {
        float: none;
        width: 100%;
      }
      .captions {
        width: 100%;
        max-width: 100%;
        position: relative;
        padding: 0px;
      }
    }
    p.caption {
      font-size: 1.7em;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }

}

.back {
  position: absolute;
  bottom: 5.0em;
  right: 5.0em;
}
